*{
    padding:0;
    margin:0;
    font-family: 'Times New Roman', Times, serif;
}
.container{
    display: flex;
    height: 100vh;
}
/* side bar Secton */

.sidebar {
  width: 4%;
  height: 100vh;
  background: lightgrey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.sidebar a {
  color: #aebac1;
  font-size: 22px;
  margin: 18px 0;
  position: relative;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #25d366;
}

sup {
  position: absolute;
  top: -6px;
  right: -10px;
  background: #25d366;
  color: #000;
  font-size: 10px;
  padding: 2px 5px;
  border-radius: 10px;
}

.icons-list,
.icons-last {
  display: flex;
  flex-direction: column;
  align-items: center;
}



.middle-section{
    padding: 12px;
    width:25%;
    background-color:white;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 12px;
}
.logo-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:40px
}

.search-section input{
   width: 100%;
   padding: 10px;
   border-radius: 24px;
   border: none;
   margin-bottom: 12px;
}
.button-section{
    display: flex;
    justify-content: flex-start;
    gap:20px;
    margin-bottom: 12px;
}
.button-section button{
    border-radius: 12px;
    padding: 6px;
    color: rgba(101, 105, 107, 0.747);
    background-color: white;
    border: 1px solid rgba(101, 105, 107, 0.747);
}
.button-section button:hover{
    background-color: lightgreen;
    
}
.Archieved-section{
    display: flex;
    justify-content: flex-start;
    gap:30px;
    margin-bottom: 12px;
    justify-content: flex-start;
    align-items: center;
}
.chat-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 12px;
}
.chat{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap:35px;
    padding: 10px;
    margin-bottom: 18px;
}
.chat:hover{
    background-color:rgba(134, 129, 129, 0.164);
    border: 2ps solid grey;
}

@media screen and (max-width:768px){
    .sidebar{
        display: none;
    }
    .middle-section{
        width: 100%;
    }

    .Message-section{
        display: none;
    }
}

.Message-section{
    width:66%;
    background-color: beige;

}
/* MAIN MESSAGE HEADER */
/* .Message-section {
  width: 100%;
  background-color: #075E54;
  padding: 10px 16px;
  box-sizing: border-box;
  color: #fff;
} */

/* FLEX CONTAINER */
.particular-chat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
  background-color: white;
  padding: 12px;
  margin-left: 0px;
}

.name1-section {
  display: flex;
  align-items: center;
  gap: 10px;
}
.call-section {
  display: flex;
  align-items: center;
  gap: 28px;
}

.messages{
    flex:1;
    padding:15px;
    overflow-y: auto;
}
.message{
    max-width: 60%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.message.sent{
    background: #d9fdd3;
    margin-left: auto;
}
.message.received{
    background: #ffffff;
}
.btn-app{
    background-color: #25d366;
    color: white;
    padding:12px 12px;
    border-radius: 12px;
    border:none;
}

.chat-input{
    display: flex;
    padding: 10px;
    background: #f0f2f5;
    margin-bottom: 0;
}

.chat-input input{
    flex:1;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
.chat-input button{
    margin-left: 10px;
    padding: 10px 15px;
    border: none;
    background: #00a884;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}